<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">404 Ennsmann war hier</h2>
          <small class="sub-title">Die gesuchte Seite existiert nicht</small>
          <button nbButton matRipple fullWidth (click)="goToHome()" type="button" class="home-button">
            Zurück zur Startseite
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
